@import "..//../../scss/variables";

.section__coffee__details {
  @media (max-width: $lg) {
    margin-block-end: 12.13rem;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-end: 5.13rem;
  position: relative;

  .section__image {
    @media (max-width: $md) {
      width: 100%;
      max-width: 20rem;
      bottom: -12rem;
    }

    position: absolute;
    bottom: -15rem;
    right: 0;
    background-image: url(/assets/coffee_blast-right.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 29.875rem;
    height: 16.3125rem;
    z-index: -1;
  }

  .section__details__title {
    @media (max-width: $md) {
      font-size: 2rem;
      text-align: center;
    }

    color: $coffee;
    font-size: 3.375rem;
    font-weight: 700;
    margin-block-end: 1rem;
  }

  .section__details__subtitle {
    @media (max-width: $md) {
      font-size: 1rem;
      line-height: 1.2rem;
    }

    color: $lightGray;
    font-size: 1.25rem;
    line-height: 2.125rem;
    margin-block-end: 2rem;
  }

  .section__details__items {
    @media (max-width: $md) {
      flex-direction: column;
      gap: 2.45rem;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
  }
}