@import "../../../scss/variables";

.nav__link {
  color: $white;
  font-family: $primaryFont;
  font-size: .875rem;
  font-weight: 500;

  &:hover {
    color: $creme;
    text-shadow: 0 0 1.5rem $creme;
    transition: all .3s ease;
  }
}