@import "../../../scss/variables";

header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 16.55rem;
  padding-block-start: 2.13rem;
  padding-inline: 5.81rem;
  position: absolute;
  z-index: 1000;
  width: 100%;

}